#ret
    .box
        .minibox
            margin: 10px 0
            width: 150px
            height: 150px
            background-color: #ff67c5
        .pos
            position: fixed
            margin: 140px 0 0 480px
